* {
  animation: fade 0.25s ease-out;
}
.inputCodeContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner2 {
  margin: 15px 0 0 0;
  width: 50vw;
  opacity: 0.3;
  color: white;
  overflow: hidden;
}
.joinText {
  color: white;
  margin: 10px 0 0 0;
  font-size: 14px;
}
.joinText a {
    color: #f56c64;
    font-weight: 600;
    transition: all 0.17s ease-in-out;
}
.joinText a:hover {
    color: #ffbebb;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
