.DetailContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 530px;
  background-color: rgb(215, 214, 214);
  border-radius: 12px;
  box-shadow: 0 0 15px white;
  text-align: center;
  overflow: hidden;
}
.detailTitle {
  font-weight: 500;
  font-size: 16px;
}
.detailInfo {
  font-size: 16px;
}
.rowDetail {
  margin: 25px 0 0 0;
}
.back {
  position: absolute;
  left: 4px;
  top: 2px;
  padding: 2px;
}
.timestamp {
  margin: 5px 0 0 0;
  font-size: 12px;
}
.preventCopy {
  user-select: none;
}
.banner {
  position: absolute;
  bottom: 0;
}
.runnerText {
  font-size: 10px
}