.DetailContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 530px;
  background: rgb(215, 214, 214);
  border-radius: 12px;
  box-shadow: 0 0 15px white;
  text-align: center;
  overflow: hidden;
  filter: brightness(100%);
  /* animation: stormCont 3s linear infinite; */
}
@keyframes stormCont {
  0% {
      filter: brightness(100%);
  }
  10% {
      filter: brightness(100%);
  }
  11% {
      filter: brightness(50%);
  }
  12% {
      filter: brightness(100%);
  }
  /* 13% {
      filter: brightness(70%);
  }
  14% {
      filter: brightness(50%);
  } */
  60% {
      filter: brightness(100%);
  }
  61% {
      filter: brightness(50%);
  }
  62% {
      filter: brightness(100%);
  }
  63% {
      filter: brightness(100%);
  }
  68% {
      filter: brightness(50%);
  }
  69% {
      filter: brightness(100%);
  }
  90% {
      filter: brightness(100%);
  }
  91% {
      filter: brightness(50%);
  }
  92% {
      filter: brightness(100%);
  }
  93% {
      filter: brightness(50%);
  }
  94% {
      filter: brightness(100%);
  }
  100% {
      filter: brightness(100%);
  }
}
.detailTitle {
  font-weight: 500;
  font-size: 16px;
}
.detailInfo {
  font-size: 16px;
}
.rowDetail {
  margin: 25px 0 0 0;
}
.back {
  position: absolute;
  left: 4px;
  top: 2px;
  padding: 2px;
  z-index: 1;
}
.timestamp {
  margin: 5px 0 0 0;
  font-size: 12px;
}
.preventCopy {
  user-select: none;
}
.banner {
  position: absolute;
  bottom: 0;
}
.runnerText {
  font-size: 10px;
}
@media only screen and (max-width: 600px) {
  .runnerText {
    font-size: 8.5px;
  }
}

