.logo {
  position: absolute;
  top: 8px;
  left: calc(105px + 35px);
  height: 66px;
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
  animation: fade 0.5s ease-in-out
}
.fpt {
  position: absolute;
  top: 8px;
  left: 18px;
  height: 54px;
  filter: drop-shadow(0 0 4px rgb(255, 192, 109));
  animation: fade 0.75s ease-in-out
}


@media only screen and (max-width: 500px) {
    .logo {
        top: 7px;
        height: 44px;
        left: 80px;
    }
    .fpt {
        height: 34px;
        left: 5px;
    }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
